<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="dm-get-pokemon">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <cells-generic-dp
      id="dp"
      host=[[host]]
      path=[[path]]
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'dm-get-pokemon',
        properties: {
          host:{
            type: String,
            value: window.AppConfig.endpoint
          },
          path:{
            type: String,
            value: 'pokemon/'
          }
        },
        getPokemonList: function(){
          /*
            const to generate my request
          */
          const pokemonRequest = this.$.dp.generateRequest();
          /*
            promise on request complete
          */
          pokemonRequest.completes
          .then((data)=>{
            debugger
            console.log(data.response.results);
            const pokemonNames = data.response.results.map((pokemonName)=>{
              console.log(pokemonName.name)
              return pokemonName.name
            });
            this._getPokemonSuccess(pokemonNames)
          })
          .catch((error)=>{
            console.log(error);
          })
        },
        _getPokemonSuccess: function(pokemons){
          this.dispatchEvent(new CustomEvent('getPokemonSuccess', {detail: pokemons}))
        }
      });
    }());

  </script>

</dom-module>
