<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<dom-module id="pokemon-home">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>[[pokemonHomeSubtitle]]</h1>
    <ul>
      <template is="dom-repeat" items="[[pokemonList]]" as="pokemon">
        <li>[[pokemon]]</li>
      </template>
    </ul>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'pokemon-home',
        behaviors: [CellsBehaviors.i18nBehavior],
        properties: {
          pokemonHomeTitle:{
            type: String,
            notify: true
          },
          pokemonHomeSubtitle:{
            type: String,
            notify: true
          },
          pokemonList:{
            type: Array
          }
        },
        _init: function(){
          this.pokemonHomeTitle = this.t('pokemon-home-title');
          this.pokemonHomeSubtitle = this.t('pokemon-home-text')
          console.log(this.pokemonHomeTitle); 
          this.dispatchEvent(new CustomEvent('getPokemonList'));
        },
        getPokemonSuccess: function(pokemons){
          this.pokemonList = pokemons
        }
      });
    }());

  </script>

</dom-module>
